@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Teacher)
            </th>
            <th>
                学年
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].IsNew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Attribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].IsSQE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)-@Html.DisplayFor(modelItem => item.EndYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attribute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSQE)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <br />
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> <br />
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
